/* Navbar */
.nav-bar {
  position: fixed;
  top: 10px;
  left: 53%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 55px;
  border-radius: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  padding: 0 25px;
  z-index: 1000;
  background: linear-gradient(145deg, #f5e3d0, #e5c7b0, #b14b4b);
  box-shadow: 0 8px 20px rgba(177, 75, 75, 0.5),
    0 0 15px rgba(241, 122, 8, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.2);

  border-bottom: 4px solid #f57a08;

  transition: all 0.3s ease;
  border-top: 1px solid rgb(255, 179, 3);
}

.nav-bar:hover {
  background: linear-gradient(145deg, #ffe3c6, #e59a7b, #b93232);
  box-shadow: 0 10px 25px rgba(185, 50, 50, 0.6),
    0 0 20px rgba(255, 160, 90, 0.5) inset, 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Logo */
.logo h1 {
  color: #9c1c1c;
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;

  padding: 3px 10px;
  border: none;
}

/* Navigation Links */
.nav-elements ul {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-elements a {
  text-decoration: none;
  color: #100b54;
  font-weight: 670;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: large;
  transition: all 0.3s ease;
}

.nav-elements a:hover {
  background-color: #f5e3d0;
  color: #9c1c1c;
}

.nav-bar a.active {
  border-bottom: 2px solid #9c1c1c;
  color: #9c1c1c;
}

/* Login / Logout Button */
.login-button {
  background-color: #9c1c1c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(156, 28, 28, 0.3);
}
.login-button span {
  color: #fff;
  padding: 20px;
}
.login-button span:hover {
  color: #100b54;
}
.login-button:hover {
  background-color: #b93232;
  transform: translateY(-1px);
}


.nav-bar:hover {
  box-shadow: 0 6px 20px rgba(156, 28, 28, 0.15);
}

/* Homepage */
.homepage {
 
  background-image: linear-gradient(rgba(65, 30, 14, 0.4), #b14b4b)
    url("/Journal-homepage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 92vh;
  padding-top: 46px;
}

.home-bottom {
  display: flex;
  justify-content: space-between;
  height: 130px;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.2);
  backdrop-filter: blur(5px);
  animation: floatUp 4s linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-bottom h3 {
  font-size: 22px;
  padding: 45px;
  -webkit-text-stroke: 0.5px rgb(246, 224, 115);
  color: #9c1c1c;
}

.home-bottom span {
  margin-left: 30px;
}

.welcome {
  color: brown;
  font-size: 90px;
  margin-left: 20px;
  font-weight: bold;
  font-family: cursive;
}

.homepage h2 {
  font-size: 60px;
  padding: 15px;
  text-align: center;
  -webkit-text-stroke: 1px rgb(130, 93, 93);
    color: #0a082b;
}

